{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <title>Budget</title>
    </head>
    <body>
        <div class="">
            <h1>Budget</h1>
            {% if debit_list %}
                <h2>Debits</h2>
                {% for debit in debit_list %}
                    <div class="debits">
                        <h5>
                            {{debit.name}}
                        </h5>
                        <ul>
                            <li>
                                {{debit.amount}}
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
            <p>No Debits available</p>
            {% endif %}
            {% if credit_list %}
                <h2>Credits</h2>
                {% for credit in credit_list %}
                    <div class="credits">
                        <h5>
                            {{credit.name}}
                        </h5>
                        <ul>
                            <li>
                                {{credit.amount}}
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
            <p>No Credits available</p>
            {% endif %}
        </div>
    </body>
</html>